body {
  background-color: #E6E6FA;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1170px;
  margin: 0px auto;
}

img {
  width: 150px;
  height: 250px;
}

.about {
  display: block;
  position: relative;
  top: 150px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.block-1 {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-2 {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-3 {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup {
  width: 300px;
  height: 400px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: none;
}
.popup-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}
.popup-overlay:target {
  display: block;
}
.popup-overlay:target + .popup {
  display: block;
}
.popup-close {
  position: absolute;
  top: .5rem;
  right: 1rem;
  text-decoration: none;
  font-size: 2rem;
}
