*{
	margin:0;
	padding: 0;
}
section{
	padding: 20px 100px;
	height: 100vh;

}
.menu{
	&-link{
		z-index: 9;
		display: block;
		width: 50px;
		height: 50px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 1px 1px 10px rgba(0,0,0,.4);
		position: fixed;
		top:20px;
		left:20px;
		span,span:before,span:after{
			display:block;
			background-color: #333;
			height: 2px;
			width: 18px;
			position: absolute;
			left:50%;
			top:50%;
			margin-left: -9px;
			margin-top: -1px;
		}
		span:before{
			transition: all 0.2s;
			content:'';
			margin-top: -5px;
		}
		span:after{
			transition: all 0.2s;
			content:'';
			margin-top: 2.5px;
		}
		&_active span{
			background-color:transparent;
			&:before{
				margin-top:0;
				transform: rotate(135deg);

			}
			&:after{
				margin-top:0;
				transform: rotate(-135deg);

			}
		}
	}
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:1;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	width: 100vw;
	height:100vh;
	left:-100vw;
	transition: all 0.5s;
	&_active{
		left:0;
	}
	ul{
	list-style-type: none;
	padding: 0;
	text-align: center;
	li{
	width: 100vw;
	}
		a{
			color:#FFF;
			line-height: 4;
			font-weight: 100;
			letter-spacing: 5px;
			text-decoration: none;
			display: block;
			width: 100%;
			&:hover{
				text-decoration:none;
				background-color: rgba(255,255,255,.4);
				
			}
		}
	}
}